.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .container-logo {
    height: 100%;
    width: 70px;
    padding: 5px;
  }

  .nav-items {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .nav-item {
      padding: 10px 10px;
      cursor: pointer;
    }
  }
}
